@import 'variables';
@import 'allMixin';
.boldtext{
    font-weight: bold;
    font-size: 45px;
  }

  .tabstyles{
    width:600px;
    tr{
      text-align: center;
    }
  }
@include div;
  // .tabelDiv{
  //     display: grid;
  //     justify-content: center;
  // }