.boldtext{
    font-weight: bold;
    font-size: 45px;
  }

  .tabstyles{
    width:600px;
    
  }

  tr{
    text-align: center;
  }
  .tabelDiv{
      margin:0px;
      padding: 0px;
      display: grid;
      justify-content: center;
     
  }